<?xml version="1.0"?>
<launch>
  <!-- Listen to messages from joysicks -->
  <!--node pkg="joy" name="joy_node" type="joy_node"-->

  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find jetbotcar)/maps/levine.yaml"/>
  <arg name="run_the_robot" default="false"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch the racecar model -->
  <include file="$(find jetbotcar)/launch/racecar_model.launch"/>

  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="jetbotcar" name="jetbot_simulator" type="jetbotSimulator" output="screen">
    <rosparam command="load" file="$(find jetbotcar)/params.yaml"/>
  </node>

  <node pkg="jetbotcar" name="jetDriver" type="jetbotDrivePublisher" output="screen">
    <rosparam command="load" file="$(find jetbotcar)/params.yaml"/>
  </node>


  <node pkg="jetbotcar" name="jetRacerDriveNode" type="jetRacerDrive.py" output="screen" if="$(arg run_the_robot)">
    <rosparam command="load" file="$(find jetbotcar)/params.yaml"/>
  </node>

<!-- test  -->

  <node pkg="jetbotcar" name="PIDcontroller" type="pid_controller_5_1.py" output="screen" if="$(arg run_the_robot)">
    <rosparam command="load" file="$(find jetbotcar)/params.yaml"/>
  </node>  

  <node pkg="jetbotcar" name="LaneDetection" type="lane_detection_contour_jetracer.py" output="screen" if="$(arg run_the_robot)">
    <rosparam command="load" file="$(find jetbotcar)/params.yaml"/>
  </node>

<!-- Launch the Keyboard Node -->
  <node pkg="jetbotcar" name="keyboard" type="keyboard" output="screen">
    <rosparam command="load" file="$(find jetbotcar)/params.yaml"/>
  </node>

</launch>
